[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
opencv-python = "*"
matplotlib = "*"
pillow = "*"
rospkg = "*"
torch = "==1.4.0"
torchvision = "==0.5.0"
pycocotools = "*"
gdown = "*"

[requires]
python_version = "3.8"

[dev-packages]

[scripts]
build_dcnv2 = "bash -c 'cd scripts/yolact/external/DCNv2 && python setup.py build develop'"
launch = "roslaunch yolact_ros yolact_ros.launch"
