[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
opencv-python = "*"
matplotlib = "*"
pillow = "*"
rospkg = "*"
torch = ">=1.11,<2"
torchvision = "*"
pycocotools = "*"
gdown = "*"


[requires]
python_version = "3.8"

[dev-packages]

[scripts]
build_dcnv2 = "bash -c 'cd scripts/yolact/external/DCNv2 && python setup.py build develop'"
launch = "roslaunch yolact_ros yolact_ros.launch"
download_weight = "gdown 'https://drive.google.com/uc?export=download&id=1ZPu1YR2UzGHQD0o1rEqy-j5bmEm3lbyP' -O scripts/yolact/weights/yolact_plus_resnet50_54_800000.pth"
